/* 전체적인 세팅 */
html {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 10px; /* Base font size */
}

.main-btn,
button {
  cursor: pointer;
}

.main-btn:hover,
button:hover {
  background: var(--blue200);
}

.main-btn:active,
button:active {
  background: var(--blue300);
}

.main-btn:disabled,
button:disabled {
  background: var(--inactive);
}

main {
    height: 100%;
    width: 0 auto;
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form {
    margin-top: 4rem;
    width: 64rem;
    height: 44.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1.8rem;
    font-weight: 700;
}

input {
    height: 5.6rem;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: var(--gray100);
}

button {
    color: var(--gray100);
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 12.4rem;
    border-radius: 4rem;
    background-color: var(--blue100);
}

.easy-login {

    background-color: #E6F2FF;
    border-radius: 0.8rem;
}

.easy-login-box {
    margin: 1.6rem 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.easy-login-box p {
    font-size: 1.6rem;
    font-weight: 500;
}