/* 전체적인 세팅 */
html {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 10px; /* Base font size */
}

.main-btn,
button {
  cursor: pointer;
}

.main-btn:hover,
button:hover {
  background: var(--blue200);
}

.main-btn:active,
button:active {
  background: var(--blue300);
}

.main-btn:disabled,
button:disabled {
  background: var(--inactive);
}

main {
    height: 61.8rem;
    width: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form {
    margin-top: 4rem;
    width: 64rem;
    height: 44.6em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-input {
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.password-container {
    position: relative;
    width: 100%;  /* 부모 요소 크기 맞추기 */
    min-width: 64rem; /* 최소 크기 설정 */
}

.password-container input {
    width: 100%;  /* input이 가득 차도록 */
    font-size: 1.6rem;
    height: 5.6rem;
    padding: 2rem;
    padding-right: 4rem; /* 아이콘과 텍스트 간 간격 확보 */
    border-radius: 1.2rem;
    background-color: var(--gray100);
    box-sizing: border-box;  /* 패딩이 width에 포함되도록 설정 */
}

.eye-icon {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

label {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
}

input {
    font-size: 1.6rem;
    height: 5.6rem;
    padding: 2rem;
    border-radius: 1.2rem;
    background-color: var(--gray100);
}

input[type="password"] {
    font-size: 3rem;
}

button {
    height: 5.6rem;
    color: var(--gray100);
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 12.4rem;
    border-radius: 4rem;
    background-color: var(--blue100);
}

.easy-login {
    margin: 2.4rem 0;
    background-color: #E6F2FF;
    border-radius: 0.8rem;
}

.easy-login-box {
    height: 5rem;
    margin: 1.6rem 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.easy-login-box p {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.easy-login-icons {
    display: flex;
    gap: 1.6rem;
}

main p {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 500;
}

main p a {
    text-decoration: underline;
    color: var(--blue100);
}