.nav {
  background: var(--white);
  width: 120rem;
  height: 4.375rem;
  margin: 0 auto;
  padding: 0.56rem 25rem;
  gap: 0.625rem;
  border-bottom: 1px solid #dfdfdf;
}

.nav-content {
  display: flex;
  width: 70rem;
  height: 3.18rem;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  width: 9.56rem;
  height: 3.18rem;
}

.login {
  color: var(--white);
  background: var(--blue100);
  font-size: 1rem;
  font-weight: 600;
  width: 8rem;
  height: 3rem;
  padding: 0.75rem 1.4375rem;
  gap: 0.625rem;
  border: none;
  border-radius: 0.5rem;
}

section {
  background: var(--white);
  margin: 0 auto;
  width: 120rem;
  height: 45rem;
  top: 4.375rem;
}

.banner {
  width: 120rem;
  height: 33.75rem;
  background: #cfe5ff;
}

.container {
  display: flex;
  position: relative;
  width: 69.375rem;
  height: 21.25rem;
  top: 12.5rem;
  left: 25.31rem;
  gap: 0.44rem;
}

.container-box {
  display: flex;
  flex-direction: column;
  width: 22.31rem;
  height: 16.25rem;
  gap: 2rem;
  padding-bottom: 3.75rem;
}

.text p {
  font-weight: 700;
  color: var(--gray700);
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.main-btn {
  display: flex;
  background: var(--blue100);
  width: 22.31rem;
  height: 3.5rem;
  gap: 0.625rem;
  padding: 1rem 7.75rem;
  border: none;
  border-radius: 2.5rem;
}

.font {
  color: var(--gray50);
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
}

.section {
  padding: 8.625rem 29.125rem;
}

.content {
  background: var(--gray);
  display: flex;
  width: 61.75rem;
  height: 27.75rem;
  margin: 0 auto;
  border-radius: 0.75rem;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.content-box {
  display: flex;
  flex-direction: column;
  width: 18.625rem;
  height: 14.875rem;
  padding-right: 1.5rem;
  gap: 0.75rem;
}

h3 {
  color: var(--blue100);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  width: 17.125rem;
  height: 12.5rem;
  gap: 1.5rem;
}

.text-box p {
  width: 13.875rem;
  height: 7rem;
  color: var(--gray700);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: 2%;
}

.text-box .info {
  color: var(--gray700);
  width: 17.125rem;
  height: 4rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}